.signupmodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin: auto;
    width: 500px;
}

.signup-form{
    width: 350px;
}
