.filled {
    color: gold;
  }

  .empty {
    color: gray;
  }

  .empty:hover, .empty:hover ~ .empty {
    color: lightgray;
  }

  .empty:hover, .empty:hover ~ .filled {
    color: gold;
  }

  .star-label {
    margin-left: 5px;
    font-size: 18px
  }
