/* SpotList.css */
.spot-ul {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.spot-tile {
  cursor: pointer;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.spot-tile img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.spot-tile h3 {
  font-size: 18px;
  margin-top: 10px;
}

.spot-tile p {
  margin-top: 10px;
  text-align: center;
}
