/* TODO Add site wide styles */
.city_state {
  color: #767676;
  font-size: large;
}

.spot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.spot-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.spot-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid black; /* Add this line to apply a border */
}

.spot-tile:hover {
  cursor: pointer;
}


.spot-tile img {
  width: 100%;
  height: auto;
}

.below_image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.city_state {
  font-size: 1em;
  color: #555;
}
.rating {
  font-size: 1.2em;
  color: #555;
}
.price {
  font-size: 1.2em;
  font-weight: bold;
}
