.review-title {
    text-align: center;
    margin: 0px;
    margin-top: 15px;
  }

  .reviewmodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin: auto;
    width: 500px;
}

.review-form{
    width: 480px;
}

.rating-input {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 20px;
}

.review-text {
  margin-bottom: 0px;
}

.submit-review-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
