@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
}

#root {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-overflow: wrap;
    font-size: 18px;
  }

  form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }


  h2 {
    color: #FF5A5F;
    font-size: 24px;
  }

  h3 {
    color: #484848;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Rubik', sans-serif;
  }

  p {
    color: #767676;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #484848;
  }

  input[type="text"], input[type="number"], input[type="url"], input[type="password"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  button {
    background-color: #FF5A5F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:disabled {
    background-color: #FFCECE;
    cursor: not-allowed;
  }

  button:hover:not(:disabled) {
    background-color: #FF3B40;
  }
