.manage-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.manage-button {
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;

}

.manage-button:disabled {
  background-color: #FFCECE;
  cursor: not-allowed;
}

.manage-button:hover:not(:disabled) {
  background-color: #FF3B40;
}

.update-delete button {
  margin: 5px; /* Adjust as needed */
  margin-left: 0px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.spot-list-m {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns items to the top */
  justify-content: space-around; /* Aligns items to the left */
}

.spot-tile img {
  object-fit: cover; /* Ensures image covers area without distortion */
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
}

.rating {
  flex-direction: row;
}
