/* Navigation.css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .navigation__left {
    display: flex;
    align-items: center;
  }

  .navigation__title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
  }

  .navigation__logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  .navigation__right {
    display: flex;
    align-items: center;
  }

  .navigation__right > * {
    margin-left: 10px;
  }
