/* Navigation.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .navigation__left {
    display: flex;
    align-items: center;
  }

  .navigation__title {
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    margin-left: 8px;
    text-decoration: solid;
    color: #FF3B40;
  }

  .navigation__logo {
    width: 30px;
    height: 30px;
    vertical-align:auto
  }

  .navigation__right {
    display: flex;
    align-items: center;
  }

  .navigation__right > * {
    margin-left: 10px;
  }
